<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyALTIzk39iFM36BIMiDd4uc221aU629cm8</string>
	<key>GCM_SENDER_ID</key>
	<string>533088361041</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseLesson</string>
	<key>PROJECT_ID</key>
	<string>iyiligikodlayanlaregitim</string>
	<key>STORAGE_BUCKET</key>
	<string>iyiligikodlayanlaregitim.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:533088361041:ios:286ad7386ffd0a834f3670</string>
</dict>
</plist>